<p id="notice"><%= notice %></p>

<h1>Listing Subcategories</h1>

<ul>
  <% @subcategories.each do |subcategory| %>
    <li>
      <%= link_to subcategory.name, subcategory %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Subcategory', new_subcategory_path %>
