<p id="notice"><%= notice %></p>

<h1>
  <%= @subcategory.name %>
</h1>

<p><strong>Main category:</strong> <%= link_to @subcategory.category.name,
  @subcategory.category %></p>

<%= render 'articles/articles', articles: @articles %>
