<p id="notice"><%= notice %></p>

<h1>Listing Media Types</h1>

<ul>
  <% @media_types.each do |media_type| %>
    <li>
      <%= link_to media_type.name, media_type %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Media type', new_media_type_path %>
