<p id="notice"><%= notice %></p>

<h1>Listing Authors</h1>

<ul>
  <% @authors.each do |author| %>
    <ul>
      <%= link_to author.name, author %>
    </ul>
  <% end %>
</ul>

<br>

<%= link_to 'New Author', new_author_path %>
